name: test
on:
  push:
    branches: [main]
  pull_request:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
      - run: |
          yarn install
          yarn lint:eslint
          yarn test

  check-workflows:
      name: Check workflows
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v3
        - name: Download actionlint
          id: download-actionlint
          run: bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/7fdc9630cc360ea1a469eed64ac6d78caeda1234/scripts/download-actionlint.bash) 1.6.22
          shell: bash
        - name: Check workflow files
          run: ${{ steps.download-actionlint.outputs.executable }} -color
          shell: bash

  all-jobs-completed:
    name: All jobs completed
    runs-on: ubuntu-latest
    needs:
      - test
      - check-workflows
    outputs:
      PASSED: ${{ steps.set-output.outputs.PASSED }}
    steps:
      - name: Set PASSED output
        id: set-output
        run: echo "PASSED=true" >> "$GITHUB_OUTPUT"

  all-jobs-pass:
    name: All jobs pass
    if: ${{ always() }}
    runs-on: ubuntu-latest
    needs: all-jobs-completed
    steps:
      - name: Check that all jobs have passed
        run: |
          passed="${{ needs.all-jobs-completed.outputs.PASSED }}"
          if [[ $passed != "true" ]]; then
            exit 1
          fi
